*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  -webkit-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in; }

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px; }

.main {
  padding-top: 50px; }

.btn {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  text-transform: uppercase; }
  .btn:hover {
    background-color: #000;
    color: #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.modal-window {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  top: -10000px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 60px 15px; }
  .modal-window__content {
    width: 100%;
    max-width: 500px;
    padding: 50px;
    background: #f9f9f9;
    border-radius: 3px;
    position: relative; }
  .modal-window__close-button {
    height: 30px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    cursor: pointer;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s; }
    .modal-window__close-button:hover {
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      font-size: 1.5em; }
  .modal-window__title {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px; }
  .modal-window__description {
    font-size: 18px;
    color: #2e2eff; }

.modal-window--active {
  position: fixed;
  top: 0;
  visibility: visible;
  opacity: 1;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.hidden {
  overflow: hidden; }
